.bg-light-gradient {
    background: linear-gradient(
        144.39deg, 
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #f9f2e7 91.61%
        ); 
    }

.bg-dark-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #181306 91.61%
  );
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Toggle A */
input:checked ~ .dot {
  transform: translateX(100%);
}


.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #181306 100%);
}
